In [1]:
import pandas as pd

## Data Exploration

In [11]:
# Read training data from csv
df = pd.read_csv('datasets/train_wiki.csv', usecols=['Title', 'Genre', 'Plot'], na_values='unknown')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Plot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Kansas Saloon Smashers</td>
      <td>NaN</td>
      <td>A bartender is working at a saloon, serving dr...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Love by the Light of the Moon</td>
      <td>NaN</td>
      <td>The moon, painted with a smiling face hangs ov...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>The Martyred Presidents</td>
      <td>NaN</td>
      <td>The film, just over a minute long, is composed...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Terrible Teddy, the Grizzly King</td>
      <td>NaN</td>
      <td>Lasting just 61 seconds and consisting of two ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jack and the Beanstalk</td>
      <td>NaN</td>
      <td>The earliest known adaptation of the classic f...</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
# Strip whitespace, remove extraneous genres if more than one per row
def clean_genre(s):
    delims = ('/', ',', '(')
    for delim in delims:
        idx = s.find(delim)
        if not idx == -1:
            s = s[:idx]
    return s.strip()

# Remove rows with no genre
df = df[pd.notnull(df['Genre'])]
# Clean Genre column
df['Genre'] = df['Genre'].map(clean_genre)
# Generate column of genre_ids
df['genre_id'] = df['Genre'].factorize()[0]
# DF to keep track of genre and respective id
genre_id_df = df[['Genre', 'genre_id']].drop_duplicates().sort_values('genre_id')
# dicts for quick genre id lookup
genre_to_id = dict(genre_id_df.values)
id_to_category = dict(genre_id_df[['genre_id', 'Genre']].values)

df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Plot</th>
      <th>genre_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>The Suburbanite</td>
      <td>comedy</td>
      <td>The film is about a family who move to the sub...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Dream of a Rarebit Fiend</td>
      <td>short</td>
      <td>The Rarebit Fiend gorges on Welsh rarebit at a...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>From Leadville to Aspen: A Hold-Up in the Rockies</td>
      <td>short action</td>
      <td>The film features a train traveling through th...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Kathleen Mavourneen</td>
      <td>short film</td>
      <td>Irish villager Kathleen is a tenant of Captain...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Daniel Boone</td>
      <td>biographical</td>
      <td>Boone's daughter befriends an Indian maiden as...</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>