In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Exploration

In [2]:
# Read training data from csv
df = pd.read_csv('datasets/train_wiki.csv', usecols=['Title', 'Genre', 'Plot'], na_values='unknown')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Plot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Kansas Saloon Smashers</td>
      <td>NaN</td>
      <td>A bartender is working at a saloon, serving dr...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Love by the Light of the Moon</td>
      <td>NaN</td>
      <td>The moon, painted with a smiling face hangs ov...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>The Martyred Presidents</td>
      <td>NaN</td>
      <td>The film, just over a minute long, is composed...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Terrible Teddy, the Grizzly King</td>
      <td>NaN</td>
      <td>Lasting just 61 seconds and consisting of two ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jack and the Beanstalk</td>
      <td>NaN</td>
      <td>The earliest known adaptation of the classic f...</td>
    </tr>
  </tbody>
</table>
</div>

In [57]:
# Strip whitespace, remove extraneous genres if more than one per row
def clean_genre(s):
    delims = ('/', ',', '(', '[')
    for delim in delims:
        idx = s.find(delim)
        if not idx == -1:
            s = s[:idx]
    return s.strip()

# Remove rows with no genre
df = df[pd.notnull(df['Genre'])]
# Clean Genre column
df['Genre'] = df['Genre'].map(clean_genre)
# Remove rows where genre is less than 2 letters
df = df[df['Genre'].map(lambda x: len(x) > 1)]
# Generate column of genre_ids
df['genre_id'] = df['Genre'].factorize()[0]
# DF to keep track of genre and respective id
genre_id_df = df[['Genre', 'genre_id']].drop_duplicates().sort_values('genre_id')
# dicts for quick genre id lookup
genre_to_id = dict(genre_id_df.values)
id_to_category = dict(genre_id_df[['genre_id', 'Genre']].values)

df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Plot</th>
      <th>genre_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>The Suburbanite</td>
      <td>comedy</td>
      <td>The film is about a family who move to the sub...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Dream of a Rarebit Fiend</td>
      <td>short</td>
      <td>The Rarebit Fiend gorges on Welsh rarebit at a...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>From Leadville to Aspen: A Hold-Up in the Rockies</td>
      <td>short action</td>
      <td>The film features a train traveling through th...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Kathleen Mavourneen</td>
      <td>short film</td>
      <td>Irish villager Kathleen is a tenant of Captain...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Daniel Boone</td>
      <td>biographical</td>
      <td>Boone's daughter befriends an Indian maiden as...</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

## Imbalanced Classes

In [47]:
# Q: How is the distribution of movie genres?
genre_counts = df.groupby('Genre').Plot.count()
plt.hist(genre_counts)
plt.title('Movie genre distribution')
plt.ylabel('Frequency')
plt.xlabel('Number of movies per genre')
plt.show()

min_movies = 2
unpop_genres = (df.groupby('Genre').Plot.count() < min_movies).sum()
num_genres = len(genre_id_df)
print("{:.2%} ({}) of {} genres have less than {} movies".format(unpop_genres/num_genres, unpop_genres
                                                              , num_genres, min_movies))
# A: Most genres have very few movies
print("The most popular genre, {}, has {} movies".format())

60.30% (480) of 796 genres have less than 2 movies

Most genres have <2 movies, and the most popular genre,

In [64]:
df.groupby('Genre').Plot.count().sort_values(ascending=False)

Genre
drama                                                       6160
comedy                                                      4745
action                                                      1617
horror                                                      1191
romance                                                     1101
thriller                                                     940
western                                                      804
crime                                                        629
adventure                                                    541
musical                                                      470
romantic comedy                                              426
crime drama                                                  422
science fiction                                              409
mystery                                                      314
film noir                                                    298
animation                                                    288
war                                                          286
family                                                       276
fantasy                                                      261
sci-fi                                                       227
animated                                                     222
biography                                                    192
comedy-drama                                                 136
musical comedy                                               134
anime                                                        104
suspense                                                     103
historical                                                   103
comedy drama                                                  98
romantic drama                                                97
social                                                        84
                                                            ...
family drama romance                                           1
gangster thriller                                              1
family drama social                                            1
family melodrama                                               1
sf                                                             1
family romance action                                          1
sexual hygiene                                                 1
family. drama                                                  1
sexual drama                                                   1
fantasy action                                                 1
fantasy action adventure                                       1
sexual                                                         1
fantasy and comedy                                             1
sex                                                            1
fantasy comedy                                                 1
fantasy costume                                                1
semi-staged documentary                                        1
science-fiction comedy                                         1
fantasy-children's film                                        1
fantasy-comedy                                                 1
fantasy-period                                                 1
feature animation                                              1
science fiction mystery                                        1
science fiction horror                                         1
science fiction drama supernatural                             1
science fiction action-comedy                                  1
gangster black comedy                                          1
science fiction action adventure                               1
science fiction action                                         1
drama adapted from wajdi mouawad's play of the same name       1
Name: Plot, Length: 794, dtype: int64